<?php
/** @var LoggableInterface|User $currentUser */

use PhalconDemo\Models\LoggableInterface;
use PhalconDemo\Models\User;

?>
<div class="page-header">
    <?php if ($currentUser->isLogged()):?>
        <h1>Hello, <?=$currentUser->email()?></h1>

        <a href="<?=$this->url->get('/logout')?>" class="btn btn-danger">Logout</a>
    <?php else:?>
        <h1>Hello, Guest</h1>
    <?php endif;?>

    <?php if (!$currentUser->isLogged()):?>
       <a href="<?=$this->url->get('/login')?>" class="btn btn-success">Login</a>
    <?php endif;?>
</div>
