<div class="row">
    <div class="col-6 col-xs-12 mx-auto">
        <h1>Login</h1>

        <form method="post" action="<?=$this->url->get('login/submit')?>">
            <div class="form-group">
                <label for="email">Email address</label>

                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                       placeholder="Enter email">
                <div><small>Demo: admin@gmail.com</small></div>
            </div>

            <div class="form-group">
                <label for="pass">Password</label>

                <input type="password" name="password" class="form-control" id="pass" placeholder="Password">

                <div><small>Demo: 1111</small></div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>